<div id="title">
    <h1>Bienvenida</h1>
</div>

<article class="about">
    <h2>Platillo del Día</h2>
    <div class="img">
        <img [src]="srcImage" alt="imagen alimento" height="300">
    </div>
    <div class="body">
        <h2>{{titulo}}</h2>
    </div>
</article>