<header>
    <ul>
        <li><a [routerLink]="['/Bienvenida']" [routerLinkActive]="['actived']">Bienvenida</a></li>
        <li><a [routerLink]="['/IngredientesPopulares']" [routerLinkActive]="['actived']">Ingredientes Populares</a></li>
        <li><a [routerLink]="['/Platillos']" [routerLinkActive]="['actived']">Platillos</a></li>
        <li><a [routerLink]="['/PerfilUsuario']" [routerLinkActive]="['actived']">Perfil de usuario</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    Proyecto restaurant &copy;
</footer>