<div class="contenedor-general">
    <div class="title">
        <h2>Ingredientes Populares</h2>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.idIngredient}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="fila">Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.strIngredient}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let element;" (click)="verPlatillos(element.strIngredient)"></tr>
    </table>
    <mat-paginator style="width: 100%;" #paginator1 [length]="tamanioTabla" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    
</div>

