<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Username" id="user" name="user" #cantidad="ngModel"
                    [(ngModel)]="user.user" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" id="password" name="password" #cantidad="ngModel"
                    [(ngModel)]="user.password" required>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent">Log in</button>
        </form>
    </mat-card>
</div>